// COLORS
$primary-color: #559EA5ff;
$secondary-color: white;

// $primary-color: #b78aff;
// $secondary-color:#d0b6fa;
$third-color: #f72727;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings


$moss-green: #919458ff;
$mint: #5FAA83ff;
$castleton-green: #0F5F4Fff;
$bistre: #341F15ff;
$mint-2: #60AD8Cff;
$ecru: #E2C187ff;
$lion: #C59968ff;
$moonstone: #559EA5ff;
$davys-gray: #4E5352ff;
$coyote: #855F2Eff;


// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
