#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // Set position sticky so the jumbotron stays fixed while you scroll.
  // position: sticky;

  // If you want to set a background image on the hero section, uncomment these with your custom image

  // background: url("./src/assets/Presidentials.jpeg");
  // background-position: right;
  // background-size: cover; 

  .hero-row {
    background-color: $white-color;
}

  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align buttons to the start */
    align-self: flex-start;
}

  .image-container {
      display: flex;
      align-items: center; /* Center the image vertically */
      justify-content: center; /* Center the image horizontally */
  }




  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    color: rgb(0, 0, 0); // Use a color variable or specific color
    font-weight: 700;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
    background-color: $mint;
    border-radius: 2px; /* Optional: Adds rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
    align-self: flex-start;


    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }
  .hero-subtitle {
    font-size: 2.8rem; // Set your desired font-size
    font-weight: 500; // Adjust font-weight as needed
    color: rgb(0, 0, 0); // Use a color variable or specific color
    margin-bottom: 2rem; // Adjust margin as needed
    text-align: left; // Set text alignment
    padding: 5px;



    @include respond(tab-land) {
      font-size: 3.5rem; // Adjust for different devices
    }
    @include respond(tab-port) {
      font-size: 3rem;
      text-align: center; // Center text on smaller devices if needed
    }
    @include respond(phone) {
      font-size: 2.5rem; // Adjust font-size for phones
      line-height: 1.4; // Adjust line-height as needed
    }
    @include respond(phone-xs) {
      font-size: 2.2rem; // Adjust for extra small phones
    }
  }
  .hero-text {
    font-size: 1.8rem; // Set your desired font-size
    font-weight: 300; // Adjust font-weight as needed
    color: rgb(0, 0, 0); // Use a color variable or specific color
    margin-top: 40px;
    margin-bottom: 2rem; // Adjust margin as needed
    text-align: left; // Set text alignment
    text-justify: auto;

    @include respond(tab-land) {
      font-size: 3.5rem; // Adjust for different devices
    }
    @include respond(tab-port) {
      font-size: 3rem;
      text-align: center; // Center text on smaller devices if needed
    }
    @include respond(phone) {
      font-size: 2.5rem; // Adjust font-size for phones
      line-height: 1.4; // Adjust line-height as needed
    }
    @include respond(phone-xs) {
      font-size: 2.2rem; // Adjust for extra small phones
    }
  }

 
  
  .hero-cta {
    display: flex;
  

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 1.3rem;
      font-weight: 300;
      // justify-content: end;
      // flex: auto;
      // margin-top: 40px; /* Adjust the margin as needed */


      @include respond(phone) {
        font-size: 1.8rem;
      }
    }
  }
  .hero-image {
    margin-left: 100px; /* Adds some space between the text and the image */
    max-width: 90%; /* Adjusts the width of the image */
    height: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 2px; /* Optional: Adds rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Optional: Adds a subtle shadow for depth */
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
  }
}

